{% load static %}

        <footer id="ft">
            <div class="ft-spc"></div>
                        <div class="footer-main">
                <div class="h-f-s">
                    <div class="site-map">
                        <ul>
                            <li class="f-l-i">
                                خرید گل و گیاه
                            </li>
                            <li class="f-l-i">
                                خرید گلدان
                            </li>
                            <li class="f-l-i">
                                مراقبت از گل و گیاه
                            </li>
                        </ul>
                    </div>
                    <div class="nmad">
                        <div class="namd-div">
                            <img src="{% static  '/media/download (2).png' %}" width="100%" height="100%" alt="نماد الکترونیکی خرید گل و گیاه">
                        </div>
                    </div>
                    <div class="social-links">
                        <div class="footer-social-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="footer-social-icon">
                            <i class="fa-brands fa-telegram"></i>
                        </div>
                        <div class="footer-social-icon">
                            <i class="fa-brands fa-whatsapp"></i>
                        </div>
                    </div>
                </div>

                <div class="contant-us">
                    <div class="a-d-t">
                        <div class="a-s-d">
                            <span>آدرس:</span>
                        </div>

                        <div class="a-s-d-s">
                            <span class="f-l-i">
                                تهران، پاکدشت، گلزار
                            </span>
                        </div>
                    </div>
                    <div class="a-d-t">
                        <div class="a-s-d">
                            <span>
                                تلفن:
                            </span>
                        </div>

                        <div class="a-s-d-s">
                            <span class="f-l-i">
                                <a href="tel:+989357187708">09357187708</a>
                            </span>
                        </div>
                    </div>
                    <div class="a-d-t">
                        <div class="a-s-d">
                            <span>
                                ایمیل:
                            </span>
                        </div>

                        <div class="a-s-d-s">
                            <span class="f-l-i">
                                <a href="mailto:s.jafarnia95@chmail.ir?subject=gol">s.32@gg.cc</a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="contact-footer">
                    <div class="map-section">
                        <div class="map-title">
                            <span> آدرس روی نقشه</span>
                        </div>
                        <div class="map-map">
                            <div id="map">
                                <iframe class="ifrm" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5708.113320697079!2d51.70780988877227!3d35.450654356439905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1670665786120!5m2!1sen!2s" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="contact-footer-info-section">
                        <div class="contact-info">

                        </div>
                    </div>
                </div>

            </div>
        </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/3272e5a094.js" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>
<script src="https://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap/js/bootstrap.bundle.js'%}"></script>
<script src="{% static 'js/jQueryTools/jquery.tools.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
