
{% load static %}
{% load widget_tweaks %}



    <div>
        {% if form %}
        <div class="lgn-form">
    
            <form  method="post" class="a-u-a-f" novalidate>
        
                {% csrf_token %}
        
                        <div class="u-a-f-d">
        
                            <div class="u-a-f-t">
                                <p class="u-a-f-l u-a-f-p">{{ form.address.label }}</p>
                            </div>
                            <div class="u-a-f">
                                {% render_field form.address class="f-s-p-c" %}
                            </div>
                            {%if form.address.errors%}
                            <div class="u-a-f mt-2">
                            {% for err in form.address.errors %}
                                <p>{{ err }}</p>
                            {% endfor %}
                            </div>
                            {%endif%}
                            
                        </div>
        
                        <div class="u-a-f-d">
                            <div class="u-a-f-t">
                                <p class="u-a-f-l u-a-f-p">{{ form.postal_code.label }}</p>
                            </div>
                            <div class="u-a-f">
                                {% render_field form.postal_code class="f-s-p-c" %}
                            </div>
                            {%if form.postal_code.errors%}
                            <div class="u-a-f mt-2">
                            {% for err in form.postal_code.errors %}
                                <p>{{ err }}</p>
                            {% endfor %}
                            </div>
                            {%endif%}
                           
                        </div>
        
                        <div class="u-a-f-d u-a-f-d-f">
                            <div>
                                <div class="u-a-f-t">
                                    <p class="u-a-f-p">{{ form.block.label }}</p>
                                </div>
                                <div class="u-a-f">
                                    {% render_field form.block class="f-s-p-c" %}
                                </div>
                    
                                {%if form.block.errors%}
                                <div class="u-a-f mt-2">
                                {% for err in form.block.errors %}
                                    <p>{{ err }}</p>
                                {% endfor %}
                                </div>
                                {%endif%}
                            </div>
                            <div>
                                <div class="u-a-f-t">
                                    <p class="u-a-f-p">{{ form.N.label }}</p>
                                </div>
                                <div class="u-a-f">
                                    {% render_field form.N class="f-s-p-c"%}
                                </div>
                                {%if form.N.errors%}
                                <div class="u-a-f mt-2">
                                {% for err in form.N.errors %}
                                    <p>{{ err }}</p>
                                {% endfor %}
                                </div>
                                {%endif%}
                            </div>
                        </div>
                        <div class="address-div spcbetw">
                            <button type="submit" class="viewbtn" {%if n %} type="submit" onclick="saveAddr()" id="sve"{%else%}{%endif%}>{%if n%} ثبت{%else%}اعمال{%endif%}</button>
                            <button type="button" onclick="cCard()" class="viewbtn" >
                                <span>مرحله قبل</span>
                            </button>
                        </div>
            </form>
        </div>
        {% elif data %}
            {% csrf_token %}
            {% for add in data %}
                <div class="address-div mb-3">
                    <div class="a-radio-div">
                        <input name="a-radio" class="ad-r-i" id={{ add.id }} type="radio" value="{{ add.postal_code }}">
                    </div>
                    <div class="">
                        <div class="a-c-div">
                            <div>
                                <div class="a-c-d">
                                    آدرس
                                </div>
                                <p class="a-c-d-d">{{ add.address }}</p>
                            </div>
                        </div>
                        <div class="a-c-div">
                            <div class="a-c-d">
                                    کد پستی
                            </div>
                                <p class="a-c-d-d">{{ add.postal_code }}</p>
                        </div>
                        <div class="a-c-div-d">
                            <div>
                                <div class="a-c-d">
                                    <span>پلاک</span><span class="a-c-d-d">{{ add.block }}</span>
                                </div>
                            </div>
                            <div>
                                <div class="a-c-d">
                                    <span>واحد</span><span class="a-c-d-d">{{ add.N }}</span>
                                </div>
                            </div>
                            </div>
                    </div>

                </div>
                <div class="a-u-a-f">
                    <div class="u-a-f">
                        <button type="button" class="viewbtn nopad" onclick="addAddress2()">ثبت آدرس جدید</button>
                    </div>
                
                </div>

            {% endfor %}

            <div class="address-div spcbetw">
                <button type="button" id="a-c-btn" onclick="sendAddress()" class="viewbtn">انتخاب</button>
{#                <a href="{% url 'factor_pay_url' %}">#}
                    <button type="button" onclick="cCard()" class="viewbtn" >
                        <span>مرحله قبل</span>
                    </button>
{#                </a>    #}
            </div>
        {% endif %}
        
    </div>













