<div class="input-field">
    <div class="profile-cont a-u-a-f f-t-m">
        <div class="u-a-f-d">
            <div>
                <span class="u-a-f-l u-a-f-p u-a-f-t">نام </span>
            </div>
            <div>
                <span class="u-a-f">{{ u.first_name }}</span>
                
            </div>
        </div>
        <div class="u-a-f-d">
            <div>
                <span class="u-a-f-l u-a-f-p u-a-f-t">نام خانودگی</span>
            </div>
            <div>
                <span class="u-a-f">{{ u.last_name }}</span>
            </div>
        </div>
        <div class="u-a-f-d">
            <div>
                <span class="u-a-f-l u-a-f-p u-a-f-t"> تلفن</span>
            </div>
            <div>
                <span class="u-a-f">{{ u.phone }}</span>
            </div>
        </div>
        <div class="u-a-f-d">
            <div>
                <span class="u-a-f-l u-a-f-p u-a-f-t"> ایمیل</span>
            </div>
            <div>
                <span class="u-a-f">{{ u.email }}</span>
            </div>
        </div>

{#        {% for key, value in u.items %}#}
{#            {% if key == "username" or key == "email" or key == "phone" %}#}
{#                <div>#}
{#                <p>#}
{#                    {{ key }}: {{ value }}#}
{#                </p>#}
{#            </div>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <div class="user-id">#}
{#            <ul>#}
{#                <li>#}
{#                    <label for="first-n">نام</label>#}
{#                    <div>#}
{#                        <input type="text" id="first-n">#}
{#                    </div>#}
{#                </li>#}
{#                <li>#}
{#                    <label for="last-n">نام خانوادگی</label>#}
{#                    <div>#}
{#                        <input type="text" id="last-n-n">#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}

    </div>


</div>